<section class="vh-100" style="background-color: #9de2ff;">
  <div class="container">
    <div class="card" *ngIf="hotel"><div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
                <div class="col-md-7">
                    <img
                        [src]="hotel.imageUrl"
                        [title]="hotel.hotelName | uppercase"
                        [alt]="hotel.hotelName"
                        class="card-img-top"
                    >
                    <div class="col-md-10">Notes</div>
                    <div class="col-md-12">
                        <app-star-rating [rating]="hotel.rating"></app-star-rating>
                    </div>
                </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{hotel.hotelName}}</h5>
                <p class="col-md-8 mb-2 pb-1" style="color: #2b2a2a;">{{hotel.description}}</p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef;">
                  <div class="col-md-10">
                    <div class="col-md-8">Prix</div>
                    <div class="col-md-10">
                        {{hotel.price | currency : 'EUR' :'symbol':'1.2-2':'fr'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
                  <button type="button" class="btn btn-outline-primary me-1 flex-grow-1" (click)="BackToList()"><span class="material-icons">keyboard_arrow_left</span>retour à la liste</button>
      </div>
    </div>
  </div>
</div>
</div>
</section>
