/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-icons/iconfont/material-icons.css';
body {
  background-image: url('/assets/images/back.png');
  background-size: cover;
  background-repeat: no-repeat;
}
